.fixed-elements 
    position: fixed
    width: 100vw
    z-index: 2

.logo
    width: 6vw
    padding: 15px

.static-line
    border-top: 3px solid
    border-color: $dark 
    width: 96vw
    margin: 20px
    margin-top: 4vh
    position: fixed
    z-index: 1

.circle
    width: 2vw
    position: fixed
    bottom: 2vw 
    right: 2vw
    z-index: -1

.circle-2
    display: none
    position: fixed
    width: 41vw
    bottom: -28vh
    right: -2vw
    z-index: -1

.box-element
    height: 100vh
    width: 20vw

.titles-wrap
    position: relative
    margin-top: 6vh

.large-title
    padding-left: 20px 
    opacity: 0
    position: absolute
    transition: 0.2s

.large-title p
    margin-block-start: 0.6em

.large-title-italic
    position: fixed
    right: 2vw
    bottom: 1vw
    text-align: right
    z-index: 1
    color: $light

.is--active
    opacity: 1

.light
    color: $light

.greens
    width: 50%
    position: fixed
    right: 0
    bottom: 0

.garden-images-container
    display: grid
    grid-template-columns: 1fr 1fr
    margin: 20px
    margin-bottom: 60vh
    max-width: 96vw
    align-items: center

.garden-image
    width: 28vw
    margin-bottom: 5vh

.garden-image.portrait 
    width: 20vw

.garden-image:nth-child(even)
    justify-self: end
    margin-top: 5vh

.event-flex
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: 2px solid $dark

.event-flex p
    width: 20%
    margin: 1.4vh 0

.book-btn-container
    width: 12%
    position: relative

.event-title
    font-weight: bold 
    width: 40% !important

.event-location 
    width: 30% !important

.events-container
    background-color: $light
    width: 96vw
    margin: 0 20px
    position: fixed
    top: 22.5vh
    z-index: 3
    opacity: 0

.book-btn
    height: 20px
    width: 20px
    background-color: $dark
    border-radius: 50%
    position: absolute
    top: -1.4vh
    right: 0

.book-btn-active
    background-color: $dark
    color: $light
    border-radius: 15px
    font-size: 0.8em
    padding: 5px 10px
    display: none
    position: absolute
    top: -2vh
    right: 0
    pointer-events: none


.compost-images
    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-auto-flow: column
    grid-template-rows: 1fr
    position: fixed
    bottom: -5vh
    align-items: baseline
    z-index: 3
    opacity: 0

.bugs-flex
    display: flex
    justify-content: space-between
    width: 96vw
    bottom: -3vh
    background-color: $dark 

.bugs-flex img
    filter: saturate(0)
    mix-blend-mode: multiply
    -webkit-filter: saturate(0)
    -webkit-mix-blend-mode: multiply
    margin-right: 4vw

.compost-img-wrap 
    height: auto
    grid-column: span 2

.compost-img
    max-width: 25vw
    max-height: 50vh

.compost-img:hover
    margin-bottom: 15vh


.events-line
    border-top: 3px solid
    border-color: $dark 

.index-arrow
    position: fixed
    left: 14vw
    bottom: -2vh

.you-underline
    position: fixed
    width: 13vw
    left: 1vw
    top: 37vh

.hover-img 
    position: fixed
    max-width: 20vw
    max-height: 30vh
    object-fit: contain
    transform: translateX(-50%) translateY(-50%)
    top: 50%
    left: 50%
    z-index: 10
    pointer-events: none

.hover-img[src=""]
    content: ''
    
.event-link:hover
    font-style: normal