@media screen and (max-width: 600px) 
    .logo-navbar
        width: 24vw
        top: 15px
        left: 15px

    .static-line-white
        width: 89vw

    .main-info
        flex-direction: column

    .info-left, .general-text
        width: 100%

    .general-text
        font-size: 1.2em
        line-height: 1.4em

    .nav-right
        display: none

    .main-titles-flex h1
        font-size: 2.9em

    .navbar 
        margin: 20px
        height: 65%
        margin-top: 24vh

    .interested
        font-size: 1.8em
        width: 100%

    .partners
        flex-direction: column

    .partners-elem 
        width: 95%