@media screen and (max-width: 600px) 
    .garden-image
        width: 35vw

    .compost-img
        max-width: 60vw
        position: relative
        max-height: 30vh

    .compost-images 
        grid-template-columns: repeat(5, 1fr)
        grid-template-rows: repeat(3, auto)
        bottom: -1vh
    
    .large-title
        width: 89vw

    .circle
        width: 7vw
        bottom: 10vw
        right: 5vw

    .circle-2
        width: 90vw
        bottom: -25vw

    .greens
        width: 100%

    .living-world
        right: 6vw

    .events-container
        width: 89vw
        bottom: 11vh

    .book-btn, .event-location
        display: none
    
    .event-flex p 
        width: auto
        margin: 1.5vh 0

    .event-date
        width: 39% !important

    .index-arrow 
        position: fixed
        left: 2vw
        top: 30vh
        bottom: 0
        max-height: 58vh
    
    .you-underline 
        position: fixed
        width: 17vw
        left: 7vw
        top: 26vh
