.noma-flex
    display: flex
    gap: 8%
    align-items: baseline

.small-circle
    height: 15px
    width: 15px
    border-radius: 50%
    background-color: $light
    margin: 0 2vw



.noma-photo
    width: 32vw
    object-fit: cover
    max-height: 72vh

.image-center
    display: flex
    justify-content: space-between
    max-width: 96vw
    gap: 1%
    padding-left: 20px
    margin-top: 5vh