.footer-page
    height: 100vh
    width: 100vw
    background-color: $light
    position: relative

.footer-container
    position: absolute
    bottom: 0
    padding: 20px

.large-plant
    font-size: 15.5vw

.footer-line
    border-top: 3px solid $dark

.footer-top-flex
    display: flex
    justify-content: space-between

.page-selection p
    max-width: 15vw
