.footer-page
    height: 100vh
    width: 100vw
    background-color: $light
    position: relative
    color: $dark

.footer-container
    position: absolute
    bottom: 0
    padding: 20px

.large-plant
    font-size: 15.5vw
    pointer-events: none

.footer-line
    border-top: 3px solid $dark

.footer-top-flex
    display: flex
    justify-content: space-between

.page-selection p
    max-width: 15vw
    margin-top: 1.5vh

.signup-line
    border: 0px !important
    border-bottom: 2px solid $dark !important
    background-color: transparent !important
    border-radius: 0 !important

#mc_embed_signup .button
    border-radius: 0
    background-color: transparent
    color: $dark
    border-bottom: 2px solid $dark
    font-weight: bold
    font-family: 'HK Grotesk', 'sans-serif'
    
#mc_embed_signup input.email
    padding: 0
    font-family: 'HK Grotesk', 'sans-serif'
    color: $dark
    width: auto

#mc_embed_signup .button:hover
    font-style: italic
    background-color: transparent

#mc_embed_signup form
    padding: 0
    
textarea:focus, input:focus
    outline: none

.footer-socials a:hover
    font-style: normal
    text-decoration: underline

.socials-flex a:hover
    font-style: normal
    text-decoration: underline

@media screen and (min-width: 600px) 
    .footer-mobile
        display: none

    .page-selection h3
        margin-bottom: 0
@media screen and (max-width: 600px) 
    .footer-mobile
        display: block
    .footer-desktop
        display: none
    .footer-pages-flex
        display: flex
        justify-content: space-between

    .large-plant
        font-size: 14vw
        margin: 2vh 0

    .footer-page h3
        font-size: 1.2em
        margin: 2vh 0
        
    .signup
        display: flex
        flex-direction: column
        justify-content: space-between
        padding-bottom: 2.5vh