<div class="footer-page footer-desktop">
    <div class="footer-container">
        <div class="footer-line"></div>
        <div class="footer-top-flex">
        <div class="signup">
            <h3>WANT TO HEAR MORE?</h3>
        </div>
        <div class="page-selection">
            <h3>ABOUT</h3>
            <p>We are in the business
            of city re-enchantment.</p>
        </div>
        <div class="page-selection">
            <h3>NOMA</h3>
            <p>NOMA is a growing
            neighborhood. </p>
        </div>
        <div class="page-selection">
            <h3>PARTNERS</h3>
            <p>We are lucky enough to work
            with some brilliant people.</p>
        </div>
        <div class="footer-socials">
            <p>Instagram</p>
            <p>Twitter</p>
            <p>Medium</p>
            <p>Eventbrite</p>
        </div>
        </div>
        <div class="footer-line"></div>
        <h1 class="large-plant">PLANT NOMA</h1>
        <div class="footer-line"></div>
    </div>
</div>

<div class="footer-page footer-mobile">
    <div class="footer-container">
        <div class="footer-line"></div>
        <div class="footer-top-flex">
            <div class="signup">
                <h3>WANT TO HEAR MORE?</h3>
            </div>        
            <div class="footer-socials">
                <h3>ABOUT</h3>
                <h3>NOMA</h3>
                <h3>PARTNERS</h3>
            </div>
        </div>
        <div class="footer-line"></div>
        <div class="footer-pages-flex">
                <p>Instagram</p>
                <p>Twitter</p>
                <p>Medium</p>
                <p>Eventbrite</p>
        </div>
        <div class="footer-line"></div>
        <h1 class="large-plant">PLANT NOMA</h1>
        <div class="footer-line"></div>
    </div>
</div>