<div class="footer-page footer-desktop">
    <div class="footer-container">
        <div class="footer-line"></div>
        <div class="footer-top-flex">
        <div class="signup">
            <h3>WANT TO HEAR MORE?</h3>
            <div class="signup-line">Email<i class="ri-arrow-right-up-line" style="float: right"></i></div>
        </div>
        <div class="page-selection">
            <a href="{{ site.baseurl }}/about"><h3>ABOUT</h3></a>
            <p>We are in the business
            of city re-enchantment.</p>
        </div>
        <div class="page-selection">
            <a href="{{ site.baseurl }}/noma"><h3>NOMA</h3></a>
            <p>NOMA is a growing
            neighborhood. </p>
        </div>
        <div class="page-selection">
            <a href="{{ site.baseurl }}/partners"><h3>PARTNERS</h3></a>
            <p>We are lucky enough to work
            with some brilliant people.</p>
        </div>
        <div class="footer-socials">
            <a href="https://www.instagram.com/plant_noma/" target="_blank"><p>Instagram</p></a>
            <a href="https://twitter.com/PLANTNOMA" target="_blank"><p>Twitter</p></a>
            <a href="https://medium.com/@plantnoma" target="_blank"><p>Medium</p></a>
            <a href="https://www.eventbrite.co.uk/o/plant-noma-35392413723" target="_blank"><p>Eventbrite</p></a>
        </div>
        </div>
        <div class="footer-line"></div>
        <h1 class="large-plant">PLANT NOMA</h1>
        <div class="footer-line"></div>
    </div>
</div>

<div class="footer-page footer-mobile">
    <div class="footer-container">
        <div class="footer-line"></div>
        <div class="footer-top-flex">
            <div class="signup">
                <h3>WANT TO HEAR MORE?</h3>
                <div class="signup-line">Email<i class="ri-arrow-right-up-line" style="float: right"></i></div>
            </div>        
            <div class="footer-socials">
                <h3>ABOUT</h3>
                <h3>NOMA</h3>
                <h3>PARTNERS</h3>
            </div>
        </div>
        <div class="footer-line"></div>
        <div class="footer-pages-flex">
                <p>Instagram</p>
                <p>Twitter</p>
                <p>Medium</p>
                <p>Eventbrite</p>
        </div>
        <div class="footer-line"></div>
        <h1 class="large-plant">PLANT NOMA</h1>
        <div class="footer-line"></div>
    </div>
</div>