<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body>
        <div class="burger-container">
            <button class="hamburger hamburger--collapse" type="button">
                <span class="hamburger-box">
                <span class="hamburger-inner dark-mode"></span>
                </span>
            </button>
        </div>
        <div class="navbar-container">
            <div class="navbar">

            </div>
        </div>
        {{ content }}
    </body>
</html>